Package: {project}
Version: {version}-1
Section: misc
Priority: optional
Architecture: {arch}
Maintainer: Shuhao Wu <shuhao.wu@shopify.com>
Description: Migrate MySQL data from one server to another
  without downtime via ghostferry.
