<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Ghostferry: {{.SourceHostPort}} -> {{.TargetHostPort}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="static/css/normalize.css">
  <link rel="stylesheet" href="static/css/skeleton.css">
  <link rel="stylesheet" href="static/css/app.css">

  <script>
    var CheckTime = {{.CurrentTime.Unix}};
    var OverallState = "{{.OverallState}}";
  </script>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="twelve columns">
        <h4>Ghostferry Run Information</h4>
        <table class="u-full-width vertical-thead">
          <tbody>
            <tr>
              <th>Ghostferry Version</th>
              <td>{{.GhostferryVersion}}</td>
            </tr>
            <tr>
              <th>Source DB</th>
              <td>{{.SourceHostPort}}</td>
            </tr>
            <tr>
              <th>Target DB</th>
              <td>{{.TargetHostPort}}</td>
            </tr>
            <tr>
              <th>Applicable Tables</th>
              <td>{{.AllTableNames}}</td>
            </tr>
            <tr>
              <th>Applicable Databases</th>
              <td>{{.AllDatabaseNames}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="twelve columns">
        <h4>Overall State: <span class="state state-{{.OverallState}}"></span></h4>
        <table class="u-full-width vertical-thead">
          <tbody>
            <tr>
              <th>Last Updated</th>
              <td><span id="last-updated">just now</span> - <a href="javascript:window.location.reload(true)">Manual Refresh &#8635;</a></td>
            </tr>
            <tr>
              <th>Started At</th>
              <td>{{.StartTime}}</td>
            </tr>
            <tr>
              <th>Time Taken</th>
              <td>{{.TimeTaken}}</td>
            </tr>
            <tr>
              <th>Data Iterator Speed</th>
              <td>{{.DataIteratorSpeed}} keys/s</td>
            </tr>
            <tr>
              <th>Data Iterator ETA</th>
              <td>{{.DataIteratorETA}}</td>
            </tr>
            <tr>
              <th>Throttling</th>
              <td>{{.Throttled}}</td>
            </tr>
            <tr>
              <th>Tables Copied</th>
              <td>{{.CompletedTableCount}}/{{.TotalTableCount}}</td>
            </tr>

            <tr>
              <th>Binlog Streaming Lag</th>
              {{if not (eq .OverallState "done")}}
                <td>{{.BinlogStreamerLag}}</td>
              {{else}}
                <td>None - copying is complete</td>
              {{end}}
            </tr>
            <tr>
              <th>Automatic Cutover Allowed</th>
              <td>{{.AutomaticCutover}}</td>
            </tr>
            {{if .VerifierSupport}}
              <tr>
                <th>Verification Started</th>
                <td>{{.VerificationStarted}}</td>
              </tr>
              <tr>
                <th>Verifier Message</th>
                <td>{{.VerifierMessage}}</td>
              </tr>
              {{if .VerificationDone}}
                {{if not .VerificationErr }}
                  <tr>
                    <th>Verified Correct</th>
                    <td>{{.VerificationResult.DataCorrect}}</td>
                  </tr>
                  {{if .VerificationResult.Message}}
                    <tr>
                      <th>Verification Result Additional Message</th>
                      <td>{{.VerificationResult.Message}}</td>
                    </tr>
                  {{end}}
                {{else}}
                  <tr>
                    <th>Error During Verification</th>
                    <td>{{.VerificationErr}}</td>
                  </tr>
                {{end}}
              {{end}}
            {{else}}
              <tr>
                <th>Verifier Support</th>
                <td>false</td>
              </tr>
            {{end}}
          </tbody>
        </table>
      </div>
    </div>

      <div class="row">
        <div class="twelve columns">
          <!-- NOTE: there are not CSRF protection against these routes -->
          {{if .VerifierAvailable}}
            <form action="/api/actions/verify" method="POST">
              <input type="submit" class="button-primary" value="Run Verification" />
            </form>
          {{end}}

          {{if not (eq .OverallState "done")}}
            <form action="/api/actions/pause" method="POST">
              <input type="submit" value="Pause" />
            </form>
            <form action="/api/actions/unpause" method="POST">
              <input type="submit" value="Unpause" />
            </form>

            {{if .AutomaticCutover}}
            <form action="/api/actions/cutover?type=manual" method="POST">
              <input type="submit" value="Disallow Automatic Cutover" />
            </form>
            {{else}}
            <form action="/api/actions/cutover?type=automatic" method="POST">
              <input type="submit" class="button-destroy" value="Allow Automatic Cutover" />
            </form>
            {{end}}

            <!--
            <form action="/api/actions/stop" method="POST">
              <input type="submit" class="button-destroy" value="Emergency Stop" />
            </form>
            -->
          {{end}}
        </div>
      </div>

    <div class="row">
      <div class="twelve columns">
        <h4>BinlogStreamer</h4>
        <table class="u-full-width vertical-thead">
          <tbody>
            <tr>
              <th>Stop Requested</th>
              <td>{{.BinlogStreamerStopRequested}}</td>
            </tr>
            <tr>
              <th>Last Successful Binlog Pos</th>
              <td>{{.LastSuccessfulBinlogPos}}</td>
            </tr>
            <tr>
              <th>Target Binlog Position</th>
              <td>{{.TargetBinlogPos}}</td>
            </tr>
            <tr>
              <th>Binlog Streaming Lag</th>
              <td>??</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row">
      <div class="twelve columns">
        <h4>TableIterators</h4>
        <table class="u-full-width">
          <thead>
            <tr>
              <th>Table</th>
              <th><abbr title="Pagination Column">PaginationKey</abbr></th>
              <th>Status</th>
              <th>Progress</th>
            </tr>
          </thead>
          <tbody>
            {{range .TableStatuses}}
              <tr>
                <td><code>{{.TableName}}</code></td>
                <td><code>{{.PaginationKeyName}}</code></td>
                <td>{{.Status}}</td>
                <td>{{.CompletedPercentage}}%</td>
              </tr>
            {{end}}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script>
    var lastUpdatedSpan = document.getElementById("last-updated");

    if (OverallState !== "done") {
      window.setTimeout(function() {
        window.location.reload(true);
      }, 60000);

      window.setInterval(function() {
        var d = Math.round(new Date().getTime() / 1000 - CheckTime);
        var txt = d + "s ago - Refresh in: " + (60 - d) + "s";
        lastUpdatedSpan.innerHTML = txt;
      }, 1000);
    } else {
      lastUpdatedSpan.innerHTML = new Date(CheckTime * 1000);
    }

    var dangerousButtons = document.getElementsByClassName("button-destroy");
    for (var i=0; i<dangerousButtons.length; i++) {
      dangerousButtons[i].addEventListener("click", function(ev) {
        if (!confirm("Are you sure you want to do this?")) {
          ev.preventDefault();
        }
      });
    }
  </script>
</body>
</html>
