name: Package and release on Github

on:
  push:
    branches:
      - main
    tags:
      - canary/*

jobs:
  build-debs:
    strategy:
      matrix:
        runner: [ubuntu-latest, shopify-ubuntu-arm64]
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup Go
        uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5 # v5.5.0
        with:
          go-version: 1.24.1

      - name: Building Ghostferry
        run: .github/workflows/build-deb.sh

      - name: Upload debs
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: debs-${{ github.sha }}-${{ matrix.runner }}
          path: build/ghostferry*

  release:
    runs-on: ubuntu-latest
    needs: build-debs
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Fetch uploaded artifacts
        uses: actions/download-artifact@634f93cb2916e3fdff6788551b99b062d0335ce0 # v5.0.0
        with:
          pattern: debs-${{ github.sha }}-*
          merge-multiple: true
      - name: shasum
        shell: bash
        run: |
          sha256sum *.deb > ghostferry-$GITHUB_SHA.sha256sum
          echo "sha256sum:"
          cat ghostferry-$GITHUB_SHA.sha256sum

      - name: Releasing production Ghostferry
        if: ${{ github.ref_type == 'branch' && github.ref_name == 'main' }}
        run: gh release create release-${GITHUB_SHA::7} --target ${{ github.ref_name }} --prerelease ghostferry*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Releasing canary Ghostferry
        if: ${{ github.ref_type == 'tag' && startsWith(github.ref_name, 'canary/') }}
        run: gh release create ${{github.ref_name}} --prerelease --verify-tag --notes-from-tag --latest=false ghostferry*
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
