name: Ghostferry MySQL 8.0 tests

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  gh-285:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    env:
      CI: "true"
      MYSQL_VERSION: "8.0"
    steps:
      - uses: actions/checkout@v2

      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16

      - name: Starting up MySQL
        run: .github/workflows/start-mysql.sh

      - name: Running GH-285 test
        run: ./examples/gh-285/bugreport.sh
  go-test:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    env:
      CI: "true"
      MYSQL_VERSION: "8.0"
    steps:
      - uses: actions/checkout@v2

      - name: Setup Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.16

      - name: Starting up MySQL
        run: .github/workflows/start-mysql.sh

      - name: Running Golang tests
        run: make test-go
  ruby-test:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    env:
      CI: "true"
      BUNDLE_WITHOUT: "development"
      MYSQL_VERSION: "8.0"
    steps:
      - uses: actions/checkout@v2

      - name: Setup Golang
        uses: actions/setup-go@v2
        with:
          go-version: 1.16

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.2
          bundler-cache: true

      - name: Starting up MySQL
        run: .github/workflows/start-mysql.sh

      - name: Running Ruby tests
        run: bundle exec ruby test/main.rb

